<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x86</TargetPlatform>
    <TargetFrameworkVersion>.NETFramework,Version=v4.7.2</TargetFrameworkVersion>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="BudgetApp" value="http://budget-ui-qa.intranet-knsdata.hostingasp.pl" />
    <Parameter name="UserCode" value="1000002926" />
    <Parameter name="Headless" value="true" />
  </TestRunParameters>
</RunSettings>